body {
    background: #D8EEFE;;
    font-family: "Rubik";
    font-weight: 500;
}
body, * {
    margin: 0;
}
.container > header {
    padding-top: 63px;
}
.profile {
    width: 100%;
    border-radius: 5px;
}
h1 {
    font-weight: bold;
    font-size: 42px;
    line-height: 28px;
    color: #094067;
}
h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 22px;
    color: #094067;
}
.filter-person {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 42px;
}
fieldset,
.add-newlist{
    display: flex;
    flex-direction: column;
}
label {
    font-size: 18px;
    line-height: 21px;
    color: #094067;
}
input,
select {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 22px;
    background: #FFFFFE;
    border-radius: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #5F6C7B;
    border: none;
}
select {
    background-image: url("./img/drop-down-arrow.svg");
    background-repeat: no-repeat;
    background-position: right;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
input:focus,
select:focus,
button:focus {
    border: none;
    outline: none;
}
.add {
    width: 158px;
    height: 50px;
    background: #EF4565;
    border: none;
    border-radius: 5px;
    color: #FFFFFE;
}
.birthday-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 47px;
    padding-bottom: 47px;
}
article {
    background: #FFFFFE;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 39px;
}
.name {
    font-weight: bold;
    font-size: 28px;
    line-height: 43px;
    color: #000000;
}
.age {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #5F6C7B;
}
b {
    color: #EF4565;
}
.days-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 30px;
}
.days {
    font-weight: 500;
    font-size: 24px;
    line-height: 28.44px;
    color: #5F6C7B;
}
.btn-container {
    display: flex;
}
.button {
    border: none;
    background-color: transparent;
}
.days {
    font-size: 24px;
    line-height: 28px;
    color: #5F6C7B;
}
.icon {
    width: 30px;
    height: 30px;
}
.popup,
.AddListPopup,
.modal {
        position: fixed;
        top: 0;
        left: 0;
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);;
        width: 100vw;
        height: 100vh;
}
.popup.open {
    opacity: 1;
}
.form-close-btn {
    display: flex;
    justify-content: flex-end;
}
.close-button {
    border: none;
    background-color: transparent;
}
button:focus {
    border: none;
    outline: none;
}
.form-input,
.delete-popup {
    width: 1079px;
    height: 751px;
    position: fixed;
    top: 16vh;
    left: 0;
    right: 0;
    bottom: 112px;
    background: white;
    color: white;
    transition: transform 0.2s;
    list-style: none;
    padding-top: 121px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.close-button {
    position: absolute;
    top: 20px;
    right: 63.5px;
    border: none;
    background-color: transparent;
}
#picture, 
#lastName,
#firstName,
#birthday,
#profile, 
#lastname,
#firstname,
#birthdate {
    background: #D8EEFE;
    color: #094067;
    font-size: 18px;
   line-height: 21px;
}
.button,
.confirm-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 30px;
}
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.save-button,
.cancel-button,
.yes-button,
.no-button {
    font-size: 18px;
    line-height: 21px;
    width: 158px;
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 158px;
    height: 50px;
}
.save-button,
.yes-button {
    color: #FFFFFE;
    background-color: #EF4565;
}
.cancel-button,
.no-button {
    color: #5F6C7B;
    background: #FFFFFF;
    border: 2px solid #5F6C7B;
    box-sizing: border-box;
}
.confirm {
    color: black;
    font-size: 28px;
    text-align: center;
}
.delete-popup {
  bottom: 300px;
}
@media (min-width: 768px) {
    h1 {
        font-size: 64px;
        line-height: 76px;
    }
    h2 {
        font-size: 48px;
        line-height: 56.88px;
    }
    .container {
        max-width: 779px;
        margin: 0 auto;
    }
    article {
        width: 779px;
        height: 139px;
        flex-direction: row;
        padding-top: 22px;
        padding-left: 43px;
        padding-bottom: 23px;
        padding-right: 25px;
    }
    .profile-container {
        display: flex;
        flex-direction: row;
    }
    .profile {
        width: 92px;
        height: 94px;
    }
    .days-container {
        flex-direction: column;
    }
    .name {
        font-weight: 500;
        font-size: 36px;
    }
    .age {
        font-size: 24px;
        line-height: 28px;
    }
    .container-form {
        width: 779px;
        height: 139px;
    }
    .filter-person {
        display: flex;
        flex-direction: row;
        gap: 35px;
    }
    input {
        width: 264px;
        height: 50px;
    }
    select {
        background-position: 239px 13px;
        width: 282px;
        height: 50px;
    }
    .form-input,
    .delete-popup {
    position: fixed;
    max-width: 1079px;
    margin: 0 auto;
    padding-left: 264px;
    padding-bottom: 189px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

    .add-newlist {
        padding-top: 15px;
    }
    .confirm {
        text-align: start;
        font-size: 32px;
    }
}