html {
    font-family: "Rubik";
    font-weight: 500;
}
body {
    background: #D8EEFE;
}
body, * {
    margin: 0;
}
h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 76px;
    color: #094067;
}
.birthday-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
article {
    background: #FFFFFE;
    border-radius: 5px;
    padding-top: 22px;
    padding-left: 43px;
    padding-bottom: 23px;
    padding-right: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile {
    width: 100%;
    border-radius: 5px;
}
.button {
    border: none;
    background-color: transparent;
}
.days {
    font-size: 24px;
    line-height: 28px;
    color: #5F6C7B;
}
.icon {
    width: 25px;
    height: 25px;
}